name: Publish new Version
on:
  workflow_dispatch:

jobs:
  publish:
    strategy:
      matrix:
        include:
          - os: windows
            image: windows-latest
            arch: ""
          - os: macos
            image: macos-latest
            arch: arm64
          - os: macos
            image: macos-15-intel
            arch: x64
    runs-on: ${{ matrix.image }}
    permissions:
      contents: write
      deployments: write
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
      - run: yarn install
      - run: yarn lint
      - run: yarn run typecheck
      - run: yarn run build:docs
      - run: yarn make ${{ matrix.arch != '' && '--arch=' || '' }}${{ matrix.arch }}
      - uses: 'paramsinghvc/gh-action-bump-version@master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
