name: Publish new Version
on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows
            image: windows-latest
            arch: ""
            artifact_suffix: "windows-default"
          - os: macos
            image: macos-latest
            arch: arm64
            artifact_suffix: "macos-arm64"
          - os: macos
            image: macos-15-intel
            arch: x64
            artifact_suffix: "macos-x64"
    runs-on: ${{ matrix.image }}
    permissions:
      contents: read
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
      - run: yarn install
      - run: yarn lint
      - run: yarn run typecheck
      - run: yarn run build:docs
      - run: yarn make ${{ matrix.arch != '' && '--arch=' || '' }}${{ matrix.arch }}
      - name: Upload distributables
        uses: actions/upload-artifact@v4
        with:
          name: distributables-${{ matrix.artifact_suffix }}
          path: out/make
          retention-days: 1

  bump-version:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: 'paramsinghvc/gh-action-bump-version@master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    needs: bump-version
    strategy:
      matrix:
        include:
          - os: windows
            image: windows-latest
            arch: ""
            artifact_suffix: "windows-default"
          - os: macos
            image: macos-latest
            arch: arm64
            artifact_suffix: "macos-arm64"
          - os: macos
            image: macos-15-intel
            arch: x64
            artifact_suffix: "macos-x64"
    runs-on: ${{ matrix.image }}
    permissions:
      contents: write
      deployments: write
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
      - run: yarn install
      - name: Download distributables
        uses: actions/download-artifact@v4
        with:
          name: distributables-${{ matrix.artifact_suffix }}
          path: out/make
      - run: yarn publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          GITHUB_REPOSITORY: ${{ github.repository }}
