name: Verify
on: 
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: windows
            image: windows-latest
            arch: ""
          - os: macos
            image: macos-latest
            arch: arm64
          - os: macos
            image: macos-15-intel
            arch: x64
    runs-on: ${{ matrix.image }}
    permissions:
      contents: read
      id-token: write
      pages: write
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
      - run: yarn install
      - run: yarn run lint
      - run: yarn run typecheck
      - run: yarn run build:docs
      - run: yarn run make ${{ matrix.arch != '' && '--arch=' || '' }}${{ matrix.arch }}